% Compiler Options for rebar
{erl_opts, [
    {src_dirs, ["src", "test"]}
]}.

{lib_dirs, ["../", "../../deps"]}.
{deps_dir, ["../../deps"]}.

% Dependencies
{deps, [
    {etest, ".*", {git, "git://github.com/wooga/etest.git"}},
    {erlang_ale, "", {git, "https://github.com/fhunleth/erlang_ale.git", "rebar-bbb"}}
]}.

% Which files to cleanup when rebar clean is executed.
{clean_files, ["ebin/*.beam"]}.




