% Compiler Options for rebar
{erl_opts, [
    {src_dirs, ["src", "test"]},
    {parse_transform, lager_transform}
]}.

{lib_dirs, ["../", "../../deps"]}.
{deps_dir, ["../../deps"]}.

% Dependencies
{deps, [
    {lager_syslog, "", {git, "git://github.com/basho/lager_syslog.git"}},
    {etest, ".*", {git, "git://github.com/wooga/etest.git"}},
    {etest_http, "", {git, "git://github.com/wooga/etest_http.git"}},
    {elli, "", {git, "git://github.com/knutin/elli.git"}}
]}.

% Which files to cleanup when rebar clean is executed.
{clean_files, ["ebin/*.beam"]}.




